{
  "type": "service_account",
  "project_id": "your_id",
  "private_key_id": "your_private_key_id",
  "private_key": "your_private_key",
  "client_email": "email-address",
  "client_id": "id",
  "auth_uri": "auth",
  "token_uri": "token",
  "auth_provider_x509_cert_url": "auth_provider_x509_cert_url",
  "client_x509_cert_url": "client_x509_cert_url",
  "universe_domain": "googleapis.com"
}
